.me_1st {
    background-color: black;
    color: white;
}

.me_2nd  {
    background-color: yellow;
}

.me_1st, .me_2nd {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
    
}